{% extends 'auctions/layout.html' %}
{% load static %}


{% block title %}Category: {{ category }}{% endblock %}

{% block body %}

<div class="dropdown m-3">
    <a class="btn btn-outline-secondary btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Active listings: {{ category }}
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'index' %}">All</a></li>
            <li><hr class="dropdown-divider"></li>
        {% for category in categories %}
            <li><a class="dropdown-item" href="{% url 'category' category %}">{{ category.label }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="container">
    {% include 'auctions/listings.html' %}
</div>


{% endblock %}
