{% extends 'auctions/layout.html' %}

{% block body %}

<h1>{{ listing.title }}</h1>
<small>posted by: {{ listing.user.username }}</small>
<hr>
<p>{{ listing.description }}</p>
<p>Starting bid: {{ listing.starting_bid }} €</p>
<p>Current highest bid: {{ highest_bid.bid }} €</p>
{% if user.is_authenticated %}
    <form method="post">{% csrf_token %}
        <label for='bid'>Bid now:</label>
        <input type='number' id='bid' name='bid' min='{{ your_bid }}' value='{{ your_bid }}' step="0.01">
        <input type="submit" value="Bid">
    </form>
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
    <form method="post">{% csrf_token %}
        <input type="submit" name="watchlist" value="Add to your Watchlist.">
    </form>

{% else %}
    <small><a href="{% url 'login' %}">Log in</a> to place your bid or add to watchlist</small>
{% endif %}

<small>{{ listing.watchers.all|length }} users is watching this listing</small>

<hr>
<p>Bids:</p>
<ul>
    {% for bid in bids %}
        <li>{{ bid.user.username }} - {{ bid.bid }} €</li>
    {% endfor %}
</ul>

{% endblock %}
