{% load static %}
{% load markdown_tags %}

<div class="container">
    {% for listing in listings %}
        {% if not listing.closed %}
            <p><div class="row">
                <div class="col-3 overflow-hidden">
                    {% if not listing.image %}
                        <img class='img-fluid' src="{% static 'auctions/default.jpg' %}" alt="{{ listing.title }}">
                    {% else %}
                        <img class='img-fluid' src="{{ listing.image }}" alt="{{ listing.title }}">
                    {% endif %}
                </div>
                <div class="col">
                    <a href="{% url 'listing' pk=listing.id %}">
                    <h5>{{ listing.title }}</h5></a>
                    <p>{{ listing.description|markdown_off|truncatewords:20 }}</p>
                    <h4> {{ listing.bids.first.bid|default:listing.starting_bid }} €</h4>
                    <small style="color:charcoal;">bidders: {{ listing.n_bidders }} |</small>
                    <small>watchers:{{ listing.n_watchers }}</small>
                </div>
            </div></p>
        {% endif %}
    {% endfor %}
</div>
