{% extends 'auctions/layout.html' %}

{% block body %}

<h2>Create new listing:</h2>
{% if message %}
    <div>{{ message }}</div>
{% endif %}

<form method="post">{% csrf_token %}
    <label for="title">Title:</label><br>
    <input type='text' id='title' name='title'><br>
    <label for="description">Description:</label><br>
    <textarea id='description' name='description' cols=35 rows=10></textarea><br>
    <label for="sb">Starting bid:</label><br>
    <input type="number" id='sb' name="starting_bid"><br><br>
    <input type="submit" value="Submit"><br>
</form>

{% endblock %}
