{% extends 'auctions/layout.html' %}
{% load crispy_forms_tags %}

{% block body %}

<!-- DASHBOARD MENU -->

<h3>Dashboard</h3>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'users_bids' %}">Bids</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'new_listing' %}">New Listing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'users_listings' %}">Your Listings</a>
    </li>
</ul>
<br>

<!-- CONTENT -->

<h2>Create new listing:</h2>
{% if message %}
    <div>{{ message }}</div>
{% endif %}

<form method="post">{% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit"><br>
</form>

{% endblock %}
