{% extends 'auctions/layout.html' %}
{% load crispy_forms_tags %}

{% block body %}

<!-- DASHBOARD MENU -->

{% include 'auctions/dashboard_nav.html' %}

<!-- CONTENT -->

<h2>Create new listing:</h2>

<div class="alert alert-primary" role="alert">
  You can use Markdown in the description field -
  <a target="blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">check how.</a>
</div>

{% if message %}
    <div>{{ message }}</div>
{% endif %}

<form method="post">{% csrf_token %}
    {{ form|crispy }}
    <input class='btn btn-primary my-3' type="submit" value="Submit"><br>
</form>

{% endblock %}
