{% extends 'auctions/layout.html' %}
{% load static %}


{% block title %}Search results for "{{q}}"{% endblock %}

{% block body %}

<h3>Search results for "{{q}}"</h3>
<div class="container p-2">
    {% for listing in search_results %}
        {% if not listing.closed %}
            <p><div class="row p-3 border bg-light">
                <div class="col-2">
                    {% if not listing.image %}
                        <img class='img-fluid' src="{% static 'auctions/default.jpg' %}" alt="{{ listing.title }}">
                    {% else %}
                        <img class='img-fluid' src="{{ listing.image }}" alt="{{ listing.title }}">
                    {% endif %}
                </div>
                <div class="col">
                    <a href="{% url 'listing' pk=listing.id %}">
                    <h3>{{ listing.title }}</h3></a>
                    <p>{{ listing.description|truncatewords:20 }}</p>
                </div>
                <div class="col-2">
                    <h3> {{ listing.bids.first.bid|default:listing.starting_bid }} €</h3>
                </div>
            </div></p>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
