{% extends "auctions/layout.html" %}
{% load static %}
{% load markdown_tags %}

{% block title %}{{user.username}} - Listings{% endblock %}

{% block body %}

    <!-- DASHBOARD MENU -->

    {% include 'auctions/dashboard_nav.html' %}

    <!-- ACTIVE LISTINGS -->

    {% if listings|length > 0 %}
        <h3>Currents auctions:</h3>
    {% endif %}

    <div class="container">
        {% for listing in listings %}
                <p><div class="row">
                    <div class="col-3 overflow-hidden">
                        {% if not listing.image %}
                            <img class='img-fluid' src="{% static 'auctions/default.jpg' %}" alt="{{ listing.title }}">
                        {% else %}
                            <img class='img-fluid' src="{{ listing.image }}" alt="{{ listing.title }}">
                        {% endif %}
                    </div>
                    <div class="col">
                        <a href="{% url 'listing' pk=listing.id %}">
                        <h5>{{ listing.title }}</h5></a>
                        <p>{{ listing.description|markdown_off|truncatewords:20 }}</p>
                        <h4> {{ listing.bids.first.bid|default:listing.starting_bid }} €
                            {% if user in listing.bidders %}
                                {% if user == listing.bids.first.user %}
                                    <span class="badge rounded-pill bg-success">Winning!</span>
                                {% else %}
                                    <span class="badge rounded-pill bg-warning text-dark">Outbid!</span>
                                {% endif %}
                            {% endif %}</h4>
                        <small style="color:charcoal;">bidders: {{ listing.n_bidders }} |</small>
                        <small>watchers:{{ listing.n_watchers }}</small>
                    </div>
                </div></p>
        {% endfor %}
    </div>

    <!-- CLOSED LISTINGS -->

    {% if listings_closed|length > 0 %}
        <h3>Closed auctions:</h3>
    {% endif %}

    <div class="container">
        {% for listing in listings_closed %}
                <p><div class="row">
                    <div class="col-3 overflow-hidden">
                        {% if not listing.image %}
                            <img class='img-fluid' src="{% static 'auctions/default.jpg' %}" alt="{{ listing.title }}">
                        {% else %}
                            <img class='img-fluid' src="{{ listing.image }}" alt="{{ listing.title }}">
                        {% endif %}
                    </div>
                    <div class="col">
                        <a href="{% url 'listing' pk=listing.id %}">
                        <h5>{{ listing.title }}</h5></a>
                        <p>{{ listing.description|markdown_off|truncatewords:20 }}</p>
                        <h4> {{ listing.bids.first.bid|default:listing.starting_bid }} €
                            {% if user in listing.bidders %}
                                {% if user == listing.bids.first.user %}
                                    <span class="badge rounded-pill bg-success">Winning!</span>
                                {% else %}
                                    <span class="badge rounded-pill bg-warning text-dark">Outbid!</span>
                                {% endif %}
                            {% endif %}</h4>
                        <small style="color:charcoal;">bidders: {{ listing.n_bidders }} |</small>
                        <small>watchers:{{ listing.n_watchers }}</small>
                    </div>
                </div></p>
        {% endfor %}
    </div>

{% endblock %}
