{% extends "auctions/layout.html" %}
{% load static %}
{% load markdown_tags %}

{% block body %}

    <!-- DASHBOARD MENU -->

    <h3>Dashboard</h3>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'watchlist' %}">Watchlist</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users_bids' %}">Bids</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'new_listing' %}">New Listing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users_listings' %}">Your Listings</a>
        </li>
    </ul>
    <br>

    <!-- CONTENT -->

    <form method="post">{% csrf_token %}
        <fieldset class="p-2">
        <legend>Your watchlist:</legend>
            {% include 'auctions/listings.html' %}
        </fieldset>
        <br>
        <input type="submit" class="btn btn-primary" value="Stop watching selected listings">
    </form>


{% endblock %}
